.titleBar {
  background-color: rgb(7, 64, 52, 1);
  display: block;
  color: white;
  font-size: 24px;
  padding-left: 16px;
}

.App {
  text-align: center;
}

.cellAlign {
  float: left;
}

.leftPadding {
  padding-left: 16px !important;
  margin: 16px !important;
  width: 300px !important;
}
